#n1 .up, #n2 .up, #n3 .up, #n4 .up {
  visibility: hidden;
}

#n13 .down, #n14 .down, #n15 .down, #n16 .down {
  visibility: hidden;
}

#n1 .left, #n5 .left, #n9 .left, #n13 .left {
  visibility: hidden;
}

#n4 .right, #n8 .right, #n12 .right, #n16 .right {
  visibility: hidden;
}

.wrap {
  width: 700px;
  margin: 50px auto 0;
}

.title {
  text-align: center;
}

.board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background: #333;
  position: relative;
}

.tile {
  width: 150px;
  height: 150px;
  background: #ccc;
  position: absolute;
  outline: 1px solid black;
  text-align: center;
}

.tracer {
  background: #000;
}

.direction {
  width: 50%;
  height: 50%;
  display: inline-block;
  float: left;
}

#one, #five, #nine, #thirteen, #n1, #n5, #n9, #n13, .c1 {
  left: 0;
}

#two, #six, #ten, #fourteen, #n2, #n6, #n10, #n14, .c2 {
  left: 150px;
}

#three, #seven, #eleven, #fifteen, #n3, #n7, #n11, #n15, .c3 {
  left: 300px;
}

#four, #eight, #twelve, #sixteen, #n4, #n8, #n12, #n16, .c4 {
  left: 450px;
}

#one, #two, #three, #four, #n1, #n2, #n3, #n4, .r1 {
  top: 0;
}

#five, #six, #seven, #eight, #n5, #n6, #n7, #n8, .r2 {
  top: 150px;
}

#nine, #ten, #eleven, #twelve, #n9, #n10, #n11, #n12, .r3 {
  top: 300px;
}

#thirteen, #fourteen, #fifteen, #sixteen, #n13, #n14, #n15, #n16, .r4 {
  top: 450px;
}
